@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

.font-geist {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}

.tab-btn {
  padding: 6px 12px;
  background: transparent;
  border: 2px solid var(--color-secondary);
  color: var(--color-secondary);
  border-radius: 4px;
  cursor: pointer;
}
.tab-btn:hover {
  background: var(--color-base-300);
}
.tab-btn.active {
  border: 2px solid var(--color-primary);
  background: var(--color-primary);
  color: var(--color-primary-content);
}
