@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

.font-geist {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}
